@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*,html,body{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}


html{
  scroll-behavior: smooth;
}


body{
  width: 100%;
  min-height: 100vh;
}
