<div class="items" *ngIf="items && items.length">
  <h2 class="items__title">
    <span> {{resourceName}} </span>

    <button (click)="isOpen=!isOpen"  mat-raised-button color="primary">
      <span *ngIf="!isOpen"> open </span>
      <span *ngIf="isOpen"> close </span>
    </button>

  </h2>
  <ng-container *ngIf="isOpen;else close">
    <app-item *ngFor="let item of items" [item]="item"></app-item>
  </ng-container>
  <ng-template #close>
    <p style="text-align: center">...</p>
  </ng-template>

</div>
