.container{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #333333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("../../../assets/not-found.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  h2{
    padding: 1em;
    color: white;
    box-shadow: 1px 1px 15px black;
    text-transform: uppercase;
    transition: all 1s;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    &:hover{
      transform: translateY(-5px);
      background-color: rgba(51,51,51,0.74);
    }
  }

}
