<p>id works!</p>

<div *ngIf="comic$ | async as comic; else loader">
  <div style="border: 1px solid;margin-bottom: 1em">
    <p>
      <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="{{comic.id}}">
    </p>
    <p>
      description: {{comic.description}}
    </p>
    <p>
      price : <span *ngFor="let p of comic.prices">{{p.price}}$</span>
    </p>
  </div>

  <h2>Characters</h2>
  <p style="border: 1px solid red;" *ngFor="let character of comic.characters.items">
    <a [routerLink]="['/home/characters/characters',marvel.getId(character.resourceURI)]">
      {{character.name}}
    </a>
  </p>

</div>


<ng-template #loader>
  <h2>loading comics....</h2>
</ng-template>
