<p>id works!</p>


<div *ngIf="creator$ | async as creator;else loader">
  <div style="border: 1px solid;padding: 1em" >
    <h2>{{creator.fullName}}</h2>
    <a [routerLink]="['/home/creators/creators',creator.id]">show</a><br>
    <p><img src="{{creator.thumbnail.path}}.{{creator.thumbnail.extension}}" alt="{{creator.firstName}}"></p>
    <hr>
    <h3>create comics</h3>
    <p *ngFor="let comic of creator.comics.items">
      <a [routerLink]="['/home/comics/comics',marvel.getId(comic.resourceURI)]">
        {{comic.name}}
      </a>
    </p>
    <hr>

    <h3>Events</h3>
    <p *ngFor="let event of creator.events.items" style="border: 1px solid purple">
      <a [routerLink]="['/home/events/events',marvel.getId(event.resourceURI)]">
        {{event.name}}
      </a>
    </p>
    <hr>

  </div>
</div>



<ng-template #loader>
  <h2>Loading creators....</h2>
</ng-template>
