<p>id works!</p>


<div *ngIf="character$ | async as character; else loader">
  <div style="box-shadow: 1px 1px 5px black;padding: 1em"
  >
    <h2>{{character.name}}</h2>
    <img
         src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
         alt="{{character.name}}">

    <p style="border: 1px solid red;" *ngFor="let comic of character.comics.items">
      <a [routerLink]="['/home/comics/comics',marvel.getId(comic.resourceURI)]">
        {{comic.name}}
      </a>
    </p>

    <hr>
    <h3>Events</h3>
    <p *ngFor="let event of character.events.items" style="border: 1px solid purple">
      <a [routerLink]="['/home/events/events',marvel.getId(event.resourceURI)]">
        {{event.name}}
      </a>
    </p>
    <hr>


    <hr>
    <h2>Series</h2>
    <p style="border: 1px solid firebrick;" *ngFor="let serie of character.series.items">
      <a [routerLink]="['/home/series/series',marvel.getId(serie.resourceURI)]">
        {{serie.name}}
      </a>
    </p>

    <hr>
    <h2>Stories</h2>
    <p style="border: 1px solid green;" *ngFor="let storie of character.stories.items">
      <a [routerLink]="['/home/stories/stories',marvel.getId(storie.resourceURI)]">
        {{storie.name}}
      </a>
    </p>

  </div>

</div>


<ng-template #loader>
  <h2>Loading Character.....</h2>
</ng-template>
