<header>
    <nav>
        <ul>
            <li>
                <a routerLink='charcters'>charcters</a>
            </li>
            <li>
                <a routerLink='comics'>comics</a>
            </li>
            <li>
                <a routerLink='creators'>creators</a>
            </li>

            <li>
                <a routerLink='events'>events</a>
            </li>

            <li>
                <a routerLink='series'>series</a>
            </li>

            <li>
                <a routerLink='stories'>stories</a>
            </li>
        </ul>
    </nav>
</header>
