.sidenav-container {
  height: 100%;
  user-select: none;
}


.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

mat-toolbar .link{
  color: white;
  display: inline-block;
  margin-right: 1em;
  text-transform: uppercase;
  @media screen and (max-width: 960px){
    display: none;
  }
  &.active-link{
    color: #dd1818;
    background-color: transparent;
  }
}

.sidenav {
  width: 200px;
  box-shadow: 1px 1px 15px rgba(0,0,0,.6);
  //@media screen and (min-width: 800px){
  //  display: none;
  //}
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link{
  background-color: gray;
}

.mat-toolbar{
  background-color: #333333;
}
